# API Configuration
VITE_API_URL=your_backend_api_url_here

# Google Auth Configuration
VITE_GOOGLE_AUTH_URL=your_backend_google_auth_url_here
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here

# App Info
VITE_APP_NAME=ForgeInsight

# Payment Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
VITE_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here